.content a, .content a:visited, .content a:active, .content a:hover { color: #900; text-decoration: underline; }
.content h1 { font-size: 16pt; font-weight: bold; color: #900; margin: 0 0 5px; }
.content h2 { font-size: 14pt; font-weight: bold; color: #900; margin: 5px 0; }
.content h3 { font-size: 12pt; font-weight: bold; color: #900; margin: 5px 0; }
.content h4 { font-size: 10pt; font-weight: bold; color: #000; margin: 5px 0; }
.content p { text-align: left; font-size: 10pt; color: #000; line-height: 20px; margin: 10px 0; }
.content blockquote { text-align: left; font-size: 10pt; color: #000; line-height: 20px; margin: 10px 0; }
.content ul {  margin-top: 0px; margin-left: 13px; padding: 0 0 0 15px; display: block; font-size: 10pt; color: #000; }
.content ol { font-size: 10pt; color: #000; margin: 0px 0px 10px 0; }
.content li { font-size: 10pt; color: #000; margin: 0px 0px 10px 0; }
.content table { font-size: 10pt; color: #000; }
.content th {  font-size: 10pt; color: #000; font-weight: bold; }
.content td {  font-size: 10pt; color: #000; }

.content form { margin: 0; padding: 0; }

.content td.menuBar { padding: 0; margin: 0; }
.content td.menuBar a, td.menuBar a:visited, td.menuBar a:active { color: #900; text-decoration: none; }
.content td.menuBar a:hover { color: #900; text-decoration: underline; }
.content td.menuBar h1 { color: #900; font-size: 16pt; font-weight: bold; margin: 0; padding: 0; line-height: 15pt;  }
.content td.#menuTable td.menuBar h1 { margin-bottom: -1px;  }
.content td.menuBar ul { list-style: none; margin: 0; padding: 0; list-style: none; }
.content td.menuBar li { font-size: 10pt; color: #000; line-height: 15px; margin: 10px 0px; list-style: none outside none; }
.content td.menuBar p { font-size: 11px; color: #777; margin: 15px 0px 0px 0px; }
.content td.menuBar input.searchField { background-color: #fff; border: 1px solid #777; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #666; padding: 0; width: 139px; }
.content td.menuBar input.searchBtn { background-color: #900; border: none; font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #ccc; padding: 0; width: 31px; letter-spacing: 2px; text-align: center; margin-left: 4px; }

.content td.mainContent { padding-top: 30px; }

.content input.searchBtn { border: 0; background-color: #900; font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #ccc; letter-spacing: 4px; padding-top: 3px; padding-bottom: 3px; width: 49px; }
.content input.searchField { background-color: #fff; border: 1px solid #777; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #666; padding-left: 2px; width: 120px; padding-top: 2px; padding-bottom: 3px; }
.content p.search { text-align: left; font-size: 10pt; color: #CCCCCC; line-height: 20px; margin: 10px 0; }
.content p.footer { width: 699px; font-size: 10px; color: #777; margin-top: 50px; margin-left: 221px; text-align: center; line-height: 10pt; }
.content p.footerHome { width: 699px; font-size: 10px; color: #777; margin-top: 50px; margin-left: 221px; text-align: center; line-height: 10pt; }
.content p.footerHome span { border-top: 1px solid #777; margin-top: 5px; padding-top: 5px; display: block; }
.content p.footer span { border-top: 1px solid #777; margin-top: 5px; padding-top: 5px; display: block; }
.content p.footerHome a, .content p.footerHome a:visited, p.footerHome a:active { color: #fff; text-decoration: none; }
.content p.footerHome a:hover { color: #fff; text-decoration: underline; }
.content p.footer a, .content p.footer a:visited, p.footer a:active { color: #777; text-decoration: none; }
.content p.footer a:hover { color: #777; text-decoration: underline; }
.content p.footerHome span a, .content p.footerHome span a:visited, p.footerHome span a:active { color: #777; text-decoration: none; }
.content p.footerHome span a:hover { color: #777; text-decoration: underline; }
.content p.footer a.red, .content p.footer a.red:visited, p.footer a.red:active { color: #900; text-decoration: none; }
.content p.footer a.red:hover { color: #900; text-decoration: underline; }
.content td.newsItem { font-size: 11px; color: #fff; padding: 34px 15px 5px 0px; }
.content td.newsItem a, .content td.newsItem a:visited, td.newsItem a:active { color: #fff; text-decoration: none; }
.content td.newsItem a:hover { color: #fff; text-decoration: underline; }
.content td.newsDay { font-size: 10px; color: #fff; padding: 34px 15px 5px 0px; }